.brand_other_sub_columns,
.brand_columns_category {
  flex: 0 1 16.666%;
  padding: 0 7px;
  margin: 0 0 15px 0;
  cursor: pointer;
}
.brand_other_sub_columns {
  flex: 0 1 20%;
  margin: 0 0 30px 0;
}
.brand_other_sub_item {
  text-decoration: none;
}
.brand_other_img_wrapper {
  position: relative;
}
.brand_other_img_wrapper::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 26, 52, 0.05);
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  z-index: 50;
}
.brand_other_img_wrapper:hover::after {
  background-color: rgba(0, 26, 52, 0.158);
}
.brand_other_sub_img {
  padding: 85px 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-size: contain;
}

.brand_other_sub_img img {
  max-width: 100%;
}

.brand_item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 7px;
  cursor: pointer;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  cursor: pointer;
}

.brand_columns_category .brand_item {
  position: relative;
  background-color: transparent;
  padding: 0px;
  transition: all 0s;
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  -ms-transition: all 0s;
  -o-transition: all 0s;
}

.brand_item_img {
  display: flex;
  position: relative;

  z-index: 5;
}

.brand_item_img img {
  max-width: 100%;
}
.brand_columns_category .brand_item_img {
  width: 100%;
  padding: 90px 0;
  position: relative;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
.brand_item_img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 26, 52, 0.11);
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.brands_item_title {
  text-align: center;
  font-family: "Roboto", arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #333;
  margin: 12px 0 0 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  word-break: break-word;
}
.brand_item:hover .brand_item_img::before {
  background-color: rgba(0, 26, 52, 0.24);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

/* ================================================== MEDIA =================================================== */

@media (max-width: 1160px) {
  .brand_item_img {
    width: 100%;
  }
}
@media (max-width: 1030px) {
  .brand_other_columns {
    flex: 0 1 25%;
  }
  .brand_columns_category .brand_item_img {
    padding: 60px 0;
  }
  .brand_other_sub_columns {
    flex: 0 1 20%;
  }
  .brand_other_sub_img {
    padding: 65px 0;
  }
}

@media (max-width: 768px) {
  .brand_item_img {
    padding: 65px 0;
  }
  .brand_other_sub_img {
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
  }

  .brand_columns_category {
    padding: 0 3px;
  }
  .brand_other_item {
    padding: 0;
  }
  .brand_columns_category .brand_item_img {
    padding: 50px 0;
  }
  .brand_item_title span {
    font-size: 12px;
    letter-spacing: 0.2px;
    line-height: 16px;
  }
  .brand_other_sub_columns {
    padding: 0 5px;
  }
  .brand_other_img_wrapper::after {
    background-color: rgba(0, 26, 52, 0.151);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
}
@media (max-width: 650px) {
  .brand_columns_category .brand_item_img {
    padding: 43px 0;
  }
  .brand_other_sub_img {
    padding: 60px 0;
  }
  .brand_other_sub_columns {
    flex: 0 1 25%;
  }
}
@media (max-width: 600px) {
  .brand_columns_category {
    flex: 0 1 25%;
  }
  .brand_columns_category .brand_item_img,
  .brand_item_img {
    padding: 55px 0;
  }
  .brand_other_img_wrapper .brand_other_img {
    padding: 55px 0;
  }
  .brand_other_columns {
    padding: 0 5px;
  }
}

@media (max-width: 460px) {
  .brand_other_columns {
    flex: 0 1 33.333%;
  }
  .brand_other_img_wrapper .brand_other_img {
    padding: 62.5px 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  .brand_item_img {
    padding: 75px 0;
  }
  .brand_item {
    padding: 10px 7px;
  }

  .all_other_cancel::after,
  .brand_other_cancel::after {
    background-size: 50px 50px;
  }
  .brands_item_title {
    font-size: 12px;
  }
  .brand_other_item::after {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .brand_other_sub_columns,
  .brand_columns_category {
    flex: 0 1 33.333%;
  }

  .brand_other_sub_columns {
    margin: 0 0 20px 0;
  }
}

@media (max-width: 380px) {
  .brand_other_img_wrapper .brand_other_img {
    padding: 54.5px 0;
  }
  .brand_columns_category .brand_item_img {
    padding: 50px 0;
  }
  .brand_other_sub_img {
    padding: 50px 0;
  }
}
@media (max-width: 360px) {
  .brand_item_img {
    padding: 68px 0;
  }

  .brand_columns_category .brand_item_img {
    padding: 47px 0;
  }
}
