@property --rotate {
	syntax: "<angle>";
	initial-value: 132deg;
	inherits: false;
}

:root {
	--card-height: 65vh;
	--card-width: calc(var(--card-height) / 1.5);
}

.products {
	padding: 20px 0 10px 0;
}
.products_row {
	display: flex;
	margin: 15px 0 0 0;
}
.present_columns {
	position: relative;
	display: flex;
	flex: 0 0 23%;
}
.present_item {
	position: relative;
	display: flex;
	flex-direction: column;
	flex: 0 0 220px;
	cursor: pointer;
	height: 312px;
}
.present_img_content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background: #212534c2;
	border-radius: 8px;
	text-decoration: none;
}
.present_img_content::before {
	content: "";
	width: 104.5%;
	height: 103.8%;
	border-radius: 8px;
	background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
	position: absolute;
	z-index: -1;
	top: -1.9%;
	left: -2%;
	animation: spin 3.5s linear infinite;
}
.present_img_content::after {
	position: absolute;
	content: "";
	top: calc(var(--card-height) / 6);
	left: 0;
	right: 0;
	z-index: -1;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	transform: scale(0.8);
	filter: blur(calc(var(--card-height) / 6));
	background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
	opacity: 1;
	transition: opacity 0.5s;
	animation: spin 3.5s linear infinite;
}
.present_item_title {
	position: absolute;
	top: 10px;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	font-size: 24px;
	color: #fff;
}

.present_img {
	position: absolute;
	width: 80%;
	height: 70%;
	top:70px;
	border-radius: 9px;
}

@keyframes spin {
	0% {
		--rotate: 0deg;
	}
	100% {
		--rotate: 360deg;
	}
}

.present_img {
	/* position: relative;
	width: 100%;
	padding: 155px 0; */

	/* border: 1px solid #31435e85; */
}
.present_img img {
	/* max-width: 100%; */
}
.present_img::before {
	/* content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
transition: all 0.3s;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px; */
}
.present_img::after {
	/* content: "";
	position: absolute;
	background: url("../../assets/images/icons/loupe-white.svg") 0 0 no-repeat;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 50px;
	height: 50px;
	z-index: 3;
	transition: all 0.3s;
	animation: animation 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate; */
}
.present_item::after {
	/* content: "";
	position: absolute;
	width: 100px;
	height: 100px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	background-color: rgba(163, 161, 161, 0.589);
	border-radius: 50%;
	transition: all 0.3s; */
}
.present_img_content {
	/* opacity: 0;
	visibility: hidden;
	display: flex;
	flex-direction: column;
	padding: 25px 30px 25px 22px;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transition: all 0.5s;
	text-decoration: none; */
}
.present_item_title {
	/* position: absolute;

	
	text-align: center;
	text-transform: uppercase;
	flex: 1 1 100%;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	font-size: 23px;
	color: #fff; */
}
.present_item:hover::after,
.present_item:hover .present_img::after {
	/* opacity: 0;
	visibility: hidden;
	transition: all 0.2s; */
}
.present_item:hover .present_img::before {
	/* background-color: #05004ddc; */
	/* background-color: rgba(0, 0, 0, 70%);
	transition: all 0.3s; */
}
.present_item:hover .present_img_content {
	/* opacity: 1;
	visibility: visible;
	transition: all 0.7s; */
}

/* ========================================== PRODUCTS COLUMNS ============================================ */

.products_columns {
	flex: 1 1 100%;
}
.products_body {
}
.products_body_header {
}
.products_body_title {
	display: inline-block;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 35px;
	color: #000000;
}
.products_body_subtitle {
	display: inline-block;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 16px;
	vertical-align: super;
	margin: 0 0 0 12px;
	color: #96a3ae;
}
.products_header_row {
	display: flex;
	flex-wrap: wrap;
	margin: 15px -15px 0 -15px;
	padding: 0 0 0 20px;
}
.products_header_item {
	padding: 0 8px;
	flex: 0 1 16.666%;
	text-align: center;
	margin: 0 0 30px 0;
	cursor: pointer;
	text-decoration: none;
}
.products_item_img {
	position: relative;
	flex: 0 0 150px;
	padding: 80px 0;
	border-radius: 15px;
	transition: all 0.3s;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
}
.products_item_cancel::after{
	content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left:0;
  top:0;
  background: url("../../assets/images/icons/no-photos.png") center center no-repeat;
  background-size: 80px 80px;
}
.products_item_img::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	background-color: rgba(41,43,83,15%);
}
.products_item_img img {
	max-width: 100%;
}
.products_body_footer .products_item_img {
	padding: 90px 0;
}
.products_cancel_item {
	cursor: auto;
}
.products_cancel_item .products_item_img {
	padding: 20px 0px;
}

.products_cancel_item .products_item_img img {
	width: 90px;
	height: 90px;
}
.products_cancel_img {
	padding: 10px 0;
}

.products_item_name {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-size: 16.5px;
	color: #000000;
	margin: 8px 0 0 0;
	transition: all 0.3s;
	display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;

}
/* .products_header_item:hover .products_item_img {
	transition: all 0.3s;
}
.products_header_item:hover .products_item_img::before {
	background-color: rgba(0, 0, 0, 7%);
	transition: all 0.3s;
} */
/* .products_cancel_item:hover .products_item_img::before {
	background-color: rgba(0, 0, 0, 10%);
} */
.products_header_item:hover .products_item_name {
	color: #077eb0;

	transition: all 0.3s;
}

/* ================================================ MEDIA REQ =================================================== */

@media (max-width: 1100px) {
	.products_header_row {
		margin: 15px -10px 0 -10px;
	}
	.products_header_item {
		flex: 0 1 20%;
		padding: 0 10px;
	}
}
@media (max-width: 1090px) {

	.present_item {
		flex: 0 1 250px;
	}
}
@media (max-width: 920px) {
	.products_item_img {
		padding: 65px 0;
	}
	.products_body_footer .products_item_img{
		padding: 75px 0;
	}
	/* .products_header_item{
		flex: 0 1 25%;
	} */
}
@media (max-width: 820px) {
	.products_item_name{
		font-size: 16px;
	}
}
@media (max-width: 768px) {

	.products_row {
		justify-content: center;
		flex-wrap: wrap-reverse;
	}
	.products_columns {
		margin: 0;
	}
	.products {
		padding: 10px 10px 35px 10px;
	}
	.present_columns {
		flex: 1 1 100%;
		padding: 20px 0;
	}
	.present_item {
		flex: 0 1 230px;
		margin: auto;
	}
	.present_img::after {
		content: url("../../assets/images/hand.png");
		position: absolute;
		left: 50%;
		top: 50%;
		width: 64px;
		height: 64px;
		transform: translate(-50%, -50%);
		z-index: 10;
		transition: all 0.3s;
		animation: animation_hand 2s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
		transform-origin: center center;
		background: none;
	}
	.products_header_item:hover .products_item_img {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}
	.products_header_item:hover .products_item_img::before {
		background-color: rgba(0, 0, 0, 20%);
	}
	.products_header_item:hover .products_item_name {
		color: #000;
		margin: 5px 0 0 0;
	}
	.products_header_row {
		padding: 0;
	}

}
@media (max-width: 670px) {
	.products_header_item{
		flex:0 1 25%;
	}
	
}
@media (max-width: 550px) {
	.products_header_row {
		margin: 15px -5px 0 -5px;
	}
	.products_header_item {
		padding: 0 5px;
	}
	
}
@media (max-width: 500px) {
	.products_header_item {
		flex: 0 1 33.333%;
	}
	.products_header_row {
		margin: 15px -10px 0 -10px;
	}
	.products_header_item {
		padding: 0 10px;
	}
	/* .products_item_img::before {
		background-color: rgba(0, 0, 0, 10%);
	} */
	.products_body_title {
		font-size: 30px;
	}
	.products_body_footer .products_item_img{
		padding: 80px 0;
	}
}
@media (max-width: 426px) {
	.products_header_row {
		margin: 15px -5px 0 -5px;
		/* justify-content: center; */
	}
	.products_header_item {
		padding: 0 7.5px;
		flex: 0 1 50%;
		margin: 0 0 15px 0;
	}

	.products_item_img {
		padding: 73px 0;
		width: 100%;
	}
	/* .products_item_img{
		padding: 45px 0;
	} */
	.products_body_footer .products_item_img{
		padding: 93px 0;
	}
	.products_cancel_item .products_item_img img {
		width: 60px;
		height: 60px;
	}
	.products_item_cancel::after{
		background-size: 50px 50px;
	}
}

@media (max-width: 376px) {
	.products_cancel_item {
		flex: 1 1 100%;
	}
	.products_item_img{
		padding: 62.5px 0;
	}
	.products_body_footer .products_item_img{
		padding: 100.5px 0;
	}
}
@media (max-width: 350px) {
	.products_body_footer .products_item_img{
		padding: 93px 0;
	}
	.products_item_img{
		padding: 57px 0;
	}
}
@keyframes animation {
	0% {
		width: 45px;
		height: 45px;
	}
	50% {
		width: 60px;
		height: 60px;
	}
	100% {
		width: 50px;
		height: 50px;
	}
}
@keyframes animation_hand {
	0% {
		width: 64px;
		height: 64px;
	}
	50% {
		width: 58px;
		height: 58px;
	}
	100% {
		width: 64px;
		height: 64px;
	}
}
