.products {
	padding: 60px 0 70px 0;
}


/* ========================================== PRODUCTS COLUMNS ============================================ */

.products_columns {
	flex: 1 1 100%;
}
.products_body_footer {
	position: relative;
}

.products_body_header {
	margin: 0 0 30px 0;
}
.products_body_title {
	display: inline-block;
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	font-size: 25px;
	color: #001a34;
}
.products_header_row {
	display: flex;
	flex-wrap: wrap;
	margin: 30px -10px 0 -10px;
}
.products_cancel_img{
	padding: 50px 0;
	flex: 0 0 60px;
	margin: 0 auto;
}
.products_cancel_img img{
	max-width: 100%;
}
/* =============================================== BRAND ROW ======================================= */
.products_body_middle {
	margin: 40px 0 50px 0;
}
.products_middle_row {
	display: flex;
	flex-wrap: wrap;
	margin: 45px -10px 0 -10px;
}
.products_middle_columns {
	/* position: relative; */
	margin: 0 0 20px 0;
	flex: 0 1 20%;
	padding: 0 10px;
}

.products_middle_item {
	text-decoration: none;
	text-align: center;
}

.products_item_img {
	padding: 92px 0;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
}

.products_middle_item .products_item_img{
	width: 100%;
	background-size: contain;
}


.products_middle_item .products_item_img::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(41, 43, 83, 0.096);
	z-index: 2;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
}
.products_item_img img {
	max-width: 100%;
}

.products_brand_name span{
	font-family: 'Roboto', arial, sans-serif;
	font-size: 16px;
	letter-spacing: 0.2px;
	line-height: 20px;
	color: #001a34;
	margin: 15px 0 0 0;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	word-break: break-word;
}

/* ======================================================================================= */

.products_header_item {
	padding: 0 8px;
	margin: 0 0 20px 0;
	cursor: pointer;
	text-decoration: none;
}

.products_body_header .products_header_item {
	flex: 0 1 20%;
}
.products_body_footer .products_header_item {
	position: relative;
	display: flex;
	flex-direction: column;
	margin: 0 0 15px 0;
	width: 176px;
	min-height: 100%;
	flex: 0 1 16.666%;
}
.products_item_img {
	position: relative;
	flex: 0 0 150px;
	padding: 95px 0;
	transition: all 0.3s;
	text-align: center;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
}
.products_body_header .products_item_img::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(0, 26, 52, 0.11);
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
}
.products_body_footer .products_item_img {
	margin: 13px auto;
	padding: 80px 0;
	width: 100%;
	background-size: contain;

}
.products_wrapper_item_img {
	position: relative;
}



.products_body_header .products_item_img:hover {
	transform: scale(1.015);
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	filter: brightness(80%);
	transform: scale(1.02);
	will-change: transform;
	-webkit-transform: scale(1.02);
	-moz-transform: scale(1.02);
	-ms-transform: scale(1.02);
	-o-transform: scale(1.02);
	-webkit-filter: brightness(80%);
}

.products_item_cancel::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("../../assets/images/icons/no-photos.svg") center center no-repeat;
	background-size: 80px 80px;
}


.products_item_name span{
	font-family: "Roboto", arial, sans-serif;
	font-weight: 400;
	color: #001a34;
	transition: all 0.3s;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
	line-height: 20px;
	margin: 0px 0 25px 0;
	word-break: break-word;
}
.products_header_item:hover .products_item_name {
	color: #005bff;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
}
.products_body_footer .products_item_name {
	font-size: 14px;
}

.products_item_price span {
	font-family: 'Roboto', arial, sans-serif;
	font-size: 20px;
	font-weight: 700;
	color: #001a34;
	max-width: 100%;
	margin: 0 7px 2px 0;
	word-break: break-all;
}
.products_item_price_color span {
	color: #f91155;
}
.products_item_old_price span {
	position: relative;
	font-family: 'Roboto', arial, sans-serif;
	color: rgb(0, 26, 52);
	font-weight: 400;
	font-size: 16px;
	word-break: break-all;
	/* margin: px 0 0 0; */
}
.products_item_old_price span::after {
	background: #f91155;
	content: "";
	display: block;
	height: 1.3px;
	position: absolute;
	top: 41%;
	transform: rotate(-3deg);
	width: 100%;
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
}
.products_about_time span {
	font-family: 'Roboto', arial, sans-serif;
	color: rgb(96, 184, 0);
	font-size: 14px;
	max-width: 100%;
	overflow: hidden;
	white-space: nowrap;
}

.wrapper_price_info {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 0 5px 0;
}

.info_about_discounts {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	min-width: 50px;
	height: 25px;
	top: 81.5%;
	left: 0px;
	background: #f91155;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
}
.products_item_btn span,
.info_about_discounts span {
	font-family: 'Roboto', arial, sans-serif;
	color: #fff;
	font-size: 14px;
}

.products_item_btn {
	display: inline-block;
	width: 100%;
	max-width: 100px;
	text-align: center;
	margin: auto 0 0 0;
	height: 35px;
	line-height: 32px;
	background-color: #005bff;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	text-decoration: none;
}
.products_item_btn:hover{
	background-color: #184daf;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
}

/* ================================================ MEDIA REQ =================================================== */

@media (max-width: 1100px) {
	.products_header_row {
		margin: 15px -10px 0 -10px;
	}
	.products_header_item {
		flex: 0 1 20%;
	}
}
@media (max-width: 920px) {
	.products_item_img {
		padding: 65px 0;
	}
	.products_body_footer .products_item_img {
		padding: 75px 0;
	}
}
@media (max-width: 768px) {
	.products_row {
		justify-content: center;
		flex-wrap: wrap-reverse;
	}
	.products_columns {
		margin: 0;
	}
	.products_brand_name span{
		font-size: 14px;
		margin: 8px 0 0 0;
	}
	.products {
		padding: 60px 10px 70px 10px;
	}
	
	.products_header_item:hover .products_item_img {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}
	.products_header_item:hover .products_item_img::before {
		background-color: rgba(0, 0, 0, 20%);
	}
	.products_header_row {
		padding: 0;
	}
	.products_body_header .products_header_item {
		flex: 0 1 25%;
		margin: 0 0 12px 0;
	}
	.products_body_footer .products_header_item {
		flex: 0 1 20%;
	}
	.products_body_footer .products_item_img {
		padding: 70px 0;
		margin: 0 auto;
	}
	.products_middle_columns {
		padding: 0 5px;
	}
	.products_middle_row {
		margin: 45px -5px 0 -5px;
	}

	.products_brand_name {
		font-size: 14px;
	}
	.info_about_discounts {
		top: 86.7%;
		min-width: 45px;
		height: 20px;
	}
	.info_about_discounts span {
		font-size: 12px;
	}
	.products_wrapper_item_img {
		margin: 0 0 13px 0;
	}
}
@media (max-width: 670px) {
	.products_header_item {
		flex: 0 1 25%;
	}
	.products_item_img {
		border-radius: 7px;
		-webkit-border-radius: 7px;
		-moz-border-radius: 7px;
		-ms-border-radius: 7px;
		-o-border-radius: 7px;
	}
}
@media (max-width: 550px) {
	.products_header_row {
		margin: 20px -5px 0 -5px;
	}
	.products_header_item {
		padding: 0 5px;
	}
	.products_body_footer .products_header_item {
		flex: 0 1 25%;
	}
	.info_about_discounts {
		top: 88%;
	}
	.products_middle_columns {
		flex: 0 1 33.333%;
	}
}
@media (max-width: 500px) {
	.products_body_header .products_header_item {
		flex: 0 1 33.333%;
	}

	.products_body_title {
		font-size: 24px;
	}
}
@media (max-width: 426px) {
	.products_body_footer .products_header_item {
		flex: 0 1 33.333%;
	}
	.products_header_item {
		flex: 0 1 50%;
	}
	.products_body_title {
		font-size: 21px;
	}
	.products_item_img {
		padding: 62px 0;
		width: 100%;
	}

	.products_body_footer .products_item_img {
		padding: 70px 0;
	}

	.products_item_cancel::after {
		background-size: 50px 50px;
	}
	.products_middle_columns {
		flex: 0 1 50%;
	}
	.products_middle_item .products_item_img {
		padding: 95px 0;
	}
	.products_item_price span{
		font-size: 18px;
	}
	.products_item_old_price span{
		font-size: 16px;
	}
}

@media (max-width: 376px) {

	.products_item_img {
		padding: 55px 0;
	}
	.products_body_footer .products_item_img {
		padding: 55px 0;
	}
	.info_about_discounts {
		top: 84.5%;
	}
	.products_middle_item .products_item_img {
		padding: 80px 0;
	}
}
@media (max-width: 350px) {
	.products_item_img {
		padding: 43px 0;
	}
	.products_middle_item .products_item_img {
		padding: 70px 0;
	}
}

