.popupVkModal{
  height: 0;
  opacity: 0;
  padding: 10px;
  visibility: hidden;
  transition: all .6s;
  -webkit-transition: all .6s;
  -moz-transition: all .6s;
  -ms-transition: all .6s;
  -o-transition: all .6s;
  transform: translate(0, 85px);
  -webkit-transform: translate(0, 85px);
  -moz-transform: translate(0, 85px);
  -ms-transform: translate(0, 85px);
  -o-transform: translate(0, 85px);
  box-shadow: 0 6px 16px rgb(0 26 52 / 16%), 0 0 0 rgb(0 26 52 / 5%);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.popupVkModalBody{
  display: flex;
  justify-content: space-between;

}
.popup_vk_btn{
  position: relative;
  font-family: 'Roboto', sans-serif;
	color: #000000;
  font-weight: 400;
	font-size: 13px;
  text-decoration: none;

}
.popup_vk_btn::after{
  content: '';
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 1px;
  top:100%;
  left:0;
  background: rgba(0, 0, 0, 0.908);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.popup_vk_btn:hover::after{
  opacity: 1;
  visibility: visible;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.popupVkModal.active{
  height: 50px;
  opacity: 1;
  visibility: visible;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  -o-transition: all .4s;
  transform: translate(0, 38px);
  -webkit-transform: translate(0, 38px);
  -moz-transform: translate(0, 38px);
  -ms-transform: translate(0, 38px);
  -o-transform: translate(0, 38px);
}

@media (max-width: 768px) {
	.popupVkModal{
    position: absolute;
    bottom:40px;
    background-color: #fff;
    width: 100%;
    right: 10px;
    margin: 0 -10px;
    left:10px;
    padding: 10px;
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.popupVkModalBody{
  justify-content: space-around;
}
  .popupVkModal.active{
   bottom: 100px;
   
  }
}
