.bread_crumbs {
  margin: 10px 0 15px 0;
  height: 35px;
}
.bread_crumbs_menu {
  display: flex;
  overflow-x: auto;
  list-style-type: none;
  padding: 0;
}
.bread_crumbs_item {
  position: relative;
  margin: 0 28px 0 0;
  white-space: nowrap;
}
.bread_crumbs_menu::-webkit-scrollbar {
  width: 0;
}
.bread_crumbs_item:last-of-type{
  pointer-events: none;
  
}
.bread_crumbs_item::after {
  content: "";
  position: absolute;
  background: url("../../assets/images/icons/next-arrow.svg") no-repeat;
  width: 15px;
  height: 15px;
  background-size: 14px 14px;
  margin: 3.2px 7.5px;
}
.bread_crumbs_item:last-of-type:after {
  content: "";
  display: none;
}
.bread_crumbs_item:last-of-type .bread_crumbs_link{
  color:#2B435B;
}
.bread_crumbs_link {
  display: inline-block;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: #005bff;
  /* color: #001a34; */
  font-size: 14px;

}
.bread_crumbs_link:hover {
  color: #436ebd;
}


@media (max-width: 768px) {
  .bread_crumbs {
    margin: 60px 0 0px 0;
  }
  
}

@media (max-width: 560px) {

  .bread_crumbs_link{
    font-size:13.5px;
  }
}