.bread_crumbs {
  margin: 10px 0 15px 0;
}
.bread_crumbs_menu {
  display: flex;
  overflow-x: auto;
  list-style-type: none;
}
.bread_crumbs_item {
  position: relative;
  margin: 0 20px 0 0;
  white-space: nowrap;
}
.bread_crumbs_menu::-webkit-scrollbar {
  width: 0;
}
.bread_crumbs_item:last-of-type{
  pointer-events: none;
  
}
.bread_crumbs_item::after {
  content: "";
  position: absolute;
  background: url("../../assets/images/icons/next.png") no-repeat;
  width: 10px;
  height: 10px;
  background-size: 10px 10px;
  margin: 5.5px;
}
.bread_crumbs_item:last-of-type:after {
  content: "";
  display: none;
}
.bread_crumbs_item:last-of-type .bread_crumbs_link{
  color:rgb(77, 46, 46);
}
.bread_crumbs_link {
  display: inline-block;
  text-decoration: none;
  font-family: GTEestiPro, sans-serif;
  color: #005bff;
  font-size: 12px;

}
.bread_crumbs_link:hover {
  color: #436ebd;
}


@media (max-width: 768px) {
  .bread_crumbs {
    margin: 65px 0 18px 0;
  }
  
}

@media (max-width: 560px) {

  .bread_crumbs_link{
    font-size:13.5px;
  }
}