@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");


*,
*:after,
*:before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	min-width: 320px;
}
.container {
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 20px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	/* overflow: hidden; */
	min-height: 100%;
}
.ibg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.ibg img {
	display: none;
}
.page {
	position: relative;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: flex;
	flex-direction: column;
}
.main-screen {
	flex: 1 0 100%;
	position: relative;
}
.main-screen_bg {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
.flex-content {
	display: flex;
}

.preloader {
	position: relative;
	width: 100%;
	left: 0;
	top: 0;
	height: 200px;
}
.preloader img {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}

/* ============================================== NOUISLIDER ===================================================== */

.noUi-target {
	background: #4d5c7581 !important;
	border: none !important;
}
.noUi-horizontal {
	height: 4px !important;
	padding: 0 0 0 10px;
}
.noUi-connect {
	background-color: #99bdff !important;
}

.noUi-handle:first-child {
}
.noUi-handle:last-of-type {
}
.noUi-handle-lower .noUi-tooltip {
}
.noUi-horizontal .noUi-handle {
	width: 20px !important;
	height: 20px !important;
	border-radius: 50% !important;
	-webkit-border-radius: 50% !important;
	-moz-border-radius: 50% !important;
	-ms-border-radius: 50% !important;
	-o-border-radius: 50% !important;
	right: 0 !important;
	top: -8px !important;
	cursor: grab !important;
}
.noUi-handle {
	position: relative !important;
	border: 1px solid #005bff !important;
}

.noUi-handle::before {
	display: none !important;
}
.noUi-handle::after {
	content: "" !important;
	position: absolute !important;
	width: 100% !important;
	height: 100% !important;
	left: 0px !important;
	top: 0px !important;
	background-color: #005bff !important;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}



/*=================================================== DevicePage ======================================================== */

.devicePage {
	padding: 15px 0 70px 0;
}
.devicePage_item-title {
	position: relative;
	font-family: 'Roboto', arial, sans-serif;
	font-size: 24px;
	color: #001a34;
	font-weight: 700;
	margin: 20px 0;
	/* z-index: 104; */
}

.devicePage_row {
	position: relative;
	display: flex;
	justify-content: center;
	margin: 40px 0 80px 0;
	
}
.devicePage_row::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 0.3px;
	background-color: #0000003b;
	top: -25px;
}
.devicePage_columns:first-child {
	position: relative;
	margin: 10px 120px 0 0;
}
.devicePage_columns:last-of-type {
	margin: 30px 80px 0 0;

}

.devicePage_img {
	width: 350px;
	padding: 195px 0;
	background-size: contain;
	cursor: zoom-in;
}
.devicePage_img_cancel::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("./assets/images/icons/no-photos.svg") center center no-repeat;
	background-size: 80px 80px;
}
.devicePage_img img {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
.devicePage_item {
	display: flex;
}

.devicePage_description_title{
	font-family: "Roboto", arial, sans-serif;
	color: #001a34;
	margin-bottom: 12px;
}

.devicePage_description_body{
	max-width: 90%;
}

.devicePage_sub_description span{
	font-family: "Roboto", arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #001a34;
}

.body_item {
	padding: 30px 20px;
	position: relative;
	height: 330px;
	width: 305px;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(27, 124, 199, 0.3);
	-moz-box-shadow: 0px 0px 15px 0px rgba(27, 124, 199, 0.3);
	box-shadow: 0px 0px 15px 0px rgba(27, 124, 199, 0.3);
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	z-index: 100;
}
.body_item_other {
	height: 200px;
}
.info {
	display: flex;
	flex-direction: column;
}

.goods_item_many_content{
	flex:1 1 100%;
	margin: 10px 0 0px 0;
}

.info_price_recommend,
.info_price {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.info_price_recommend{
	align-items: inherit;
	margin: 0 0 3px 0;
}
.body_item-price span {
	display: inline-block;
	font-family: 'Roboto', arial, sans-serif;
	font-size: 30px;
	line-height: 38px;
	font-weight: 700;
	color: #001a34;
}
.body_item-price_color span {
	color: #f91155;
}
.body_item-old_price span {
	position: relative;
	display: inline-block;
	font-family: 'Roboto', arial, sans-serif;
	font-size: 20px;
	font-weight: 700;
	line-height: 26px;
	margin: 5px 0 0 12px;
}
.goods_item_old_price span::after,
.body_item-old_price span::after {
	background: #f91155;
	content: "";
	display: block;
	height: 1.3px;
	position: absolute;
	top: 45%;
	transform: rotate(-3deg);
	width: 100%;
	-webkit-transform: rotate(-3deg);
	
}

.info_body {
	margin: 15px 0 0 0;
}

.info_text {
	font-size: 14px;
	color: #001a34;
	font-family: "Roboto", arial, sans-serif;

	line-height: 22px;
}

.body_btn {
	display: inline-block;
	position: absolute;
	bottom: 10px;
	background-color: #005bff;
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	min-height: 56px;
	line-height: 56px;
	padding: 0 24px;
	text-align: center;
	width: calc(100% - 30px);
	left: 50%;
	transform: translate(-50%, 0);
	font-family: "Roboto", arial, sans-serif;
	font-weight: 700;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
}
.body_btn:hover {
	background-color: rgb(0, 61, 173);
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
}
.product_is_out{
	margin: auto 0 0 0;
}
.product_is_out span{
	font-family: "Roboto", arial, sans-serif;
	color: #5a6c7d;
	font-size: 14px;
	line-height: 1.29;
	font-weight: 700;
}

.devicePage_product_is_out span{
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
}
.device_body {
	position: relative;
	z-index: 105;
}

.devicePage_item_info_main {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.devicePage_item_info_main div{
	/* z-index: 104; */
	
}
.all_watch {
	display: flex;
	align-items: center;
	margin: 0 10px 0 0;
}
.all_watch img {
	width: 17px;
	height: 17px;
}
.all_watch span {
	font-family: 'Roboto', arial, sans-serif;
	font-weight: 400;
	font-size: 12px;
	color: #000;
	margin: 0 0 0 5px;
	padding: 2px;
	background-color: rgba(218, 218, 218, 0.281);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.goods_info_about_disconts span {
	font-family: 'Roboto', arial, sans-serif;
	color: #fff;
	font-size: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 50px;
	font-weight: 700;
	height: 25px;
	left: 0px;
	top: 0%;
	background: #f91155;
	margin: 0 10px 0 0;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
}

.devicePage_about_time span {
	font-family: 'Roboto', arial, sans-serif;
	color: rgb(96, 184, 0);
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(96, 184, 0);
	border-radius: 12px;
	font-size: 14px;
	max-width: 100%;
	font-weight: 700;
	overflow: hidden;
	padding: 3px 8px;
	line-height: 1.29;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 0 10px 0 0;
}
.devicePage_bestseller_info span{
	border-radius: 12px;
	max-width: 100%;
	overflow: hidden;
	padding: 2px 8px;
	text-overflow: ellipsis;
	white-space: nowrap;
	border: 1px solid transparent;
	background-color: #ffffff;
	border-color: #ff8400;
}
.modal {
	margin: 5px 0 125px 0;
	background-color: #eff3f6;
	z-index: 103;
}
.modal_content {
	padding: 10px 0;
}
.modal_title {
	font-family: 'Roboto', arial, sans-serif;
	font-weight: 700;
	font-size: 15px;
	color: #005bff;
	margin: 0 0 10px 0;
}
.modal_info {
	font-family: 'Roboto', arial, sans-serif;
	font-size: 12.5px;
	line-height: 20px;
	color: #001a34;
}

.recommended_goods {
	position: relative;
	padding: 70px 0 0px 0;
}
.recommended_goods_title {
	font-family: 'Roboto', arial, sans-serif;
	font-size: 20px;
	color: #333;
	font-weight: 700;
}
.recommended_goods_row {
	position: relative;
	margin: 35px -10px 0 -10px;
}
.recommended_goods_columns {
	cursor: pointer;
	min-height: 100%;
	padding: 0 15px;
	cursor: pointer;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
}
.recommended_goods_item {
	position: relative;
	display: flex;
	flex-direction: column;
	text-decoration: none;
}
.goods_item_img {
	position: relative;
	width: 100%;
	padding: 100px 0;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	background-size: contain;
}


.goods_item_img img {
	max-width: 100%;
}
.goods_item_title span{
	font-family: 'Roboto', arial, sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #001a34;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	word-break: break-word;
}
.recommended_goods_columns:hover .goods_item_title span{
	color: royalblue;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
}
.goods_item_price span {
	display: inline-flex;
	font-family: 'Roboto', arial, sans-serif;
	font-weight: 700;
	font-size: 18px;
	color: #001a34;
	margin: 0 8px 0px 0;
	word-break: break-all;
}
.goods_item_old_price span {
	position: relative;
	display: inline-block;
	font-family: 'Roboto', arial, sans-serif;
	font-size: 14px;
	line-height: 14px;
	color: #001a34;
}

.goods_info_product_bonus{
	margin: 0px 0 5px 0;
	
}

.goods_list_info_bonus{
	margin: 5px 0;
}
.goods_item_bestseller_info{
	margin: 0 0 5px 0;
}
.device_about_time span,
.bestseller_info span {
	font-family: 'Roboto', arial, sans-serif;
	color: rgb(255, 132, 0);
	font-size: 14px;
	line-height: 18px;
	font-weight: 700;
}
.device_about_time span{
	color: #10ad44;
}


/* ======================================================== ADMIN PANEL ================================================= */

.admin {
}
.admin_header {
	position: sticky;
	background-color: #fff;
	border-bottom: 1px solid #35445a3d;
	top: 0;
	z-index: 2;
}
.admin_header_row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70px;
}
.admin_header_text {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	color: #001a34;
	font-size: 25px;
}
.admin_header_btn {
	display: inline-block;
	font-family: "Roboto", sans-serif;
	font-size: 19px;
	border: none;
	background-color: transparent;
	color: #001a34;
	cursor: pointer;
}
.admin_content_row {
	display: flex;
}

.admin_left_columns {
	position: sticky;
	flex: 0 1 28%;
	height: 540px;
	top: 70px;
}
.admin_panel {
	position: absolute;
	height: 100%;
	width: 100%;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.2);
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}
.admin_panel_menu {
	padding: 30px;
}
.admin_panel_li {
	list-style-type: none;
	margin: 0 0 25px 0;
}
.admin_panel_li:last-of-type {
	margin: 0;
}
.admin_panel_link {
	position: relative;
	display: block;
	text-decoration: none;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 17px;
	color: #2f4459;
	z-index: 2;
}
.active {
	color: #fff;
}
.active::before {
	content: "";
	position: absolute;
	left: -20px;
	top: -15px;
	width: 120%;
	background-color: #54acff;
	padding: 25px 0;
	border-radius: 10px;
	z-index: -1;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}
.admin_right_columns {
	flex: 1 1 100%;
	padding: 20px 0 20px 30px;
}

/* ========================================================= REACT SWIPER ======================================================= */

.mySwiperMain .swiper-wrapper {
	/* overflow: visible !important; */
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
	top: 100%;
	width: 100%;
}
.mySwiperMain .swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.mySwiperMain .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
	position: absolute;
	bottom: -30px;
	padding: 200px 0 0 0;
}

.mySwiperMain .swiper-pagination-bullet {
	width: 11px !important;
	height: 11px !important;
}
.mySwiperMain .swiper-pagination-bullet {
	background: #4489ff;
}
.mySwiperMain .swiper-pagination-bullet-active-main {
	display: inline-block;
	width: 13px;
	height: 13px;
}


.NewProductsSlider .swiper-slide{
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
}




/* =================================================================================================================== */

.go_back {
	margin: 5px 0 32px 0;
	background: url("./assets/images/icons/left-arrow-breadCrumbs.svg") left center no-repeat;
	background-size: 12px 12px;
}
.go_back button {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 16px;
	color: #0059ff;
	background: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 0 0 0 20px;
}

/* ========================================================= GENERAL STYLE ======================================================= */

.brand_item_title span{
	font-family: 'Roboto', arial, sans-serif;
	font-size: 16px;
	letter-spacing: 0.2px;
	line-height: 20px;
	text-align: center;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	white-space: normal;
	overflow: hidden;
	color: #001a34;
	margin: 15px 0 0 0;
	word-break: break-word;
	white-space: pre-line;
}

/* ========================================================= MEDIA ======================================================= */

@media (max-width: 1024px) {
	.goods_item_img {
		padding: 95px 0;
	}
}

@media (max-width: 860px) {
	.products_row {
		flex-wrap: wrap-reverse;
	}
	.products_columns:first-child {
		flex: 1 1 100%;
	}
	.products_img {
		background-size: 240px 280px;
	}
	.products-columns:last-of-type {
		margin: 0 0 20px 0;
	}
	.body_item {
		width: 240px;
		height: 260px;
	}
}
@media (max-width: 768px) {
	.container {
		padding: 0;
	}
	body.lock {
		overflow: hidden;
	}
	.devicePage_description{
		padding: 0 10px;
	}
	.recommended_goods {
		margin: -85px 0 130px 0;
		padding: 0 10px 0px 10px;
	}
	.brand_item_title span{
		-webkit-line-clamp: 1;
		font-size: 14px;
		margin: 8px 0 0 0;
	}

	.brear_crumbs_container {
		padding: 0 0 0 10px;
	}

	.header_top-row {
		height: 50px;
	}

	.devicePage_columns:first-child {
		flex: 1 1 100%;
		margin: 0;
	}

	.devicePage_item {
		display: block;
	}
	.info_text {
		font-size: 13px;
	}
	.modal {
		padding: 0 10px;
		margin: 30px 0 125px 0;
	}
	.devicePage_row {
		padding: 0 10px;
		flex-direction: column;
		align-items: center;
		margin: 40px 0 50px 0;
	}
	.body_item {
		display: flex;
		flex-direction: column;
		position: fixed;
		bottom: 48px;
		left: 0;
		width: 100%;
		height: 80px;
		background-color: #fff;
		padding: 10px;
		z-index: 12;
	}
	.devicePage {
		padding: 25px 0; 
	}
	.info_body {
		margin: 10px 0 0 0;
	}
	.info {
		display: none;
	}
	.body_btn {
		position: static;
		width: 100%;
		transform: translate(0);
		margin: 0 auto;
		font-size: 15px;
		min-height: 50px;
		line-height: 25px;
	}

	.body_btn span {
		display: block;
		font-weight: 400;
		font-size: 16px;
		line-height: 25px;
		font-family: "Roboto", sans-serif;
	}

	.loading{
		position: relative;
		top:200px;
	}


	.devicePage_item-title {
		margin: 15px 10px 20px 10px;
	}
	.devicePage_item-title::before {
		left: 0;
	}
	.noUi-handle {
		position: absolute !important;
	}
	.noUi-horizontal {
		padding: 0 0 0 10px !important;
	}
	.noUi-horizontal .noUi-handle {
		right: -5px !important;
	}
	.noUi-handle {
		border: none !important;
	}
	.devicePage_item_info_main {
		padding: 0 10px;
	}

	.all_watch {
		margin: 0 15px 0px 0;
	}
	.goods_info_about_disconts span {
		margin: 0 10px 0 0;
	}

	.go_back {
		margin: 70px 0 30px 0;
	}
	.goods_item_img {
		padding: 75px 0;
	}
	/* =================================================== SWIPER MEDIA ======================================== */

	.swiper {
		padding: 0 10px 0 9px !important;
	}
	.NewProductsSlider{
		padding: 0 !important;
	}
}
@media (max-width: 630px) {
	.devicePage_img {
		padding: 150px 0;
	}

	.goods_item_price {
		font-size: 16px;
	}
}

@media (max-width: 480px) {
	.devicePage_img {
		width: 310px;
		padding: 120px 0;
	}
	.devicePage_description_body{
		max-width: 100%;
	}
}
@media (max-width: 450px) {
	.devicePage_columns:last-of-type {
		margin: 0;
	}
}
@media (max-width: 426px) {
	.body_item {
		max-width: 100%;
	}

	.recommended_goods_columns {
		padding: 0;
	}
	.devicePage_img_cancel::after {
		background-size: 65px 65px;
	}
	.goods_item_img {
		padding: 68px 0;
	}
}
@media (max-width: 376px) {

	.recommended_goods_columns {
		padding: 0;
	}
	.recommended_goods_row {
		margin: 30px 0 0 0;
	}
	.devicePage_item-title{
		max-width: 261px;
	}
	.devicePage_item-title span {
		display: block;
		font-size: 20px;
	}
	.product_is_out span{
		font-size: 12px;
	}
	.devicePage_product_is_out span{
		font-size: 14px;
	}
}
