.footerInfo {
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: 59px;
  box-shadow: 0px 0px 20px 0px rgb(34 60 80 / 20%);
  background-color: #fff;
  z-index: 105;
}

.footer_row_info {
  position: relative;
  display: flex;
  justify-content: center;
  padding:7px 5px;
}
.footer_columns_info {
  display: flex;
  flex-direction: column;
  flex:0 1 33.333%;
  align-items: center;
  text-decoration: none;

}
.footer_info_img{
  flex:1 1 100%;
}
